.env
*.pyc
*.rdb

# Worspace & editor files
.idea
*.code-workspace
.vscode/

# Test related files
.coverage*
coverage.xml
cov.xml
htmlcov
.pytest_cache

.DS_Store
celerybeat-schedule

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
