commands:
  01_install_gdal:
    test: "! command -v gdalinfo >/dev/null 2>&1"
    command: "/tmp/gdal_install.sh"
files:
  "/tmp/gdal_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash
        #
        # Script to setup a Elastic Beanstalk AMI with geospatial libraries and postGIS
        #
        # sh aws_ami_prep.sh > aws_ami_prep.log 2>&1 &

        # Go to ec2-user home directory
        cd /home/ec2-user

        # dnf libraries
        sudo amazon-linux-extras install epel -y
        sudo yum update -y
        sudo yum install gcc-c++.x86_64 cpp.x86_64 sqlite-devel.x86_64 libtiff.x86_64 cmake3.x86_64 libxml2-devel.x86_64 readline-devel.x86_64 zlib-devel crypto-utils.x86_64 openssl-devel geos-devel -y

        #sqlite3
        sudo wget https://www.sqlite.org/2023/sqlite-autoconf-3410200.tar.gz
        sudo tar zxvf  sqlite-autoconf-3410200.tar.gz
        cd sqlite-autoconf-3410200/
        ./configure --prefix=$HOME/opt/sqlite
        make
        make install
        # sudo mv /usr/bin/sqlite3 /usr/bin/sqlite3_3.7.9
        # ln -s /usr/local/bin/sqlite3 /usr/bin/sqlite3

        # Postgres
        wget  http://ftp.postgresql.org/pub/source/v14.7/postgresql-14.7.tar.gz
        tar -zxvf postgresql-14.7.tar.gz
        cd postgresql-14.7
        ./configure  --with-openssl --bindir=/usr/bin
        make
        sudo make install
        cd ..


        # PROJ
        sudo cp /usr/bin/cmake3 /usr/bin/cmake
        wget http://download.osgeo.org/proj/proj-6.1.1.tar.gz
        tar -zxvf proj-6.1.1.tar.gz
        cd proj-6.1.1
        ./configure
        make
        sudo make install
        cd ..

        # GEOS
        wget http://download.osgeo.org/geos/geos-3.10.5.tar.bz2
        tar -xvf geos-3.10.5.tar.bz2
        cd geos-3.10.5
        ./configure
        make
        sudo make install
        sudo mv /usr/local/bin/geos-config /bin/geos-config
        cd ..

        # GDAL
        wget http://download.osgeo.org/gdal/3.5.3/gdal-3.5.3.tar.gz
        tar -zxvf gdal-3.5.3.tar.gz
        cd gdal-3.5.3
        ./configure
        make
        sudo make install
        cd ..

        # PostGIS
        export LD_LIBRARY_PATH=/usr/local/pgsql/lib/:LD_LIBRARY_PATH
        wget http://download.osgeo.org/postgis/source/postgis-3.3.2.tar.gz
        tar -xvf postgis-3.3.2.tar.gz
        cd postgis-3.3.2
        ./configure --without-protobuf --with-gdalconfig=$(which gdal-config)
        make
        sudo make install
        cd ..