option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: rachadoc.core.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: rachadoc.core.settings

container_commands:
  01_install_requirements:
    command: "source /var/app/venv/*/bin/activate && pipenv install sync"
    leader_only: true